.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1,
h2,
p {
  margin: 0;
}

h2 {
  margin-top: 1em;
}

.input-column {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  height: 2rem;
}

output {
  padding: 1rem;
}

.error {
  color: orangered;
  outline: 1px solid orangered;
}

.positive {
  background: darkgreen;
}
.negative {
  background: darkred;
}
